<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodano osobę</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<div class="display">
<h1>Wielkie gratulacje!!</h1><br>
<p th:text="'Dodano osobę: ' + ${person}"></p>

<br><br><a href="/person/">Strona główna</a>
</div></body>
</html>