<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
<form action="addnotification" method="post">
    <input type="text" name="name"/>
    <input type="text" name="surname"/>
    <input type="submit">
</form>
<br><br><a href="/person/">Strona główna</a>
</div></body>
</html>