<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usunięto osobę</title>
    <link th:href="@{../../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
<h1>WIELKIE GRATULACJE! USUNIĘTO OSOBĘ</h1>
<p th:text="${person}"/>
<br><br><a href="/person/">Strona główna</a>
</div></body>
</html>