<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wyszukaj po nazwisku</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
<form method="post" action="found">
    <input name="surname" type="text"/>
    <input type="submit"/>
</form>
<br><br><a href="/person/">Strona główna</a>
</div></body>
</html>