<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Znaleziono użytkowników</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
<p th:text="${persons}"/>
<br><br><a href="/person/">Strona główna</a>
</div></body>
</html>