<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WYbierz se opcje</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
    <h1><a href="/person/" class="hlinks">STRONA GłÓWNA</a></h1>
<a href="add">Dodaj użytkownika</a><br><br>
<a href="findbysurname">Znajdź po nazwisku</a><br><br>
<a href="delete">Usuń użytkownika</a><br><br>
    <a href="show">Pokaż wszystkich użytkowników</a><br></div>
</body>
</html>