<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Osoby w bazie</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body><div class="display">
    <ul th:each="person : ${persons}">
        <li class="aright" th:text="${person}" th:value="${person}"></li><br></ul>
<br><br><a href="/person/">Strona główna</a>
</div></body>
</html>